* {
    font-family: 'Raleway';
    /* les couleurs */
    --main-color: #0065FC;
    --secondary-color: #DEEBFF;
    --grey-color: #D9D9D9;
}
body {
    margin: 0;
}
/* les fonts */
.card-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.title-section {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.information {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* Header */
header {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}
header nav ul li{
    list-style-type: none;
    flex-direction: row;
    padding-top: 46px;
    padding-bottom: 13px;
    padding-left: 21px;
    padding-right: 21px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0px;
    color: black;
}
header nav ul li:hover{
    border-top: solid var(--main-color) 2px;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}
header nav ul li:hover a {
    color: var(--main-color);
}

.logo-booki {
    margin-left: 55px;
    margin-top: 44px;
}

/* Main */
main {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
}
/* section search */
.title-search * {
    margin: 8px;
}
.input-search *{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.input-search {
    display: flex;
    flex-direction: row;
}
.input-search button {
    text-align: center;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;
    border: 1px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    height: 53px;
    transform: translateX(-50px);
}
.input-search button span.not-mobile {
    font-size: 18px;
    color: white;
    margin: 14px 16px 14px 16px;
    padding: 0;
}
.input-search button span.mobile {
    font-size: 18px;
    color: white;
    margin: 16px 16px 16px 16px;
    padding: 0;
}
.input-search input {
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height: 49px;
    width: 334px;
    padding-left: 66px;
}
.input-search .before-input {
    background: #F2F2F2;
    height: 51px;
    width: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translateX(48px);
    font-size: 18px;
}
.input-search .before-input i {
    padding: 16px 16px 16px 16px;
}