* {
    font-family: 'Raleway';
    /* les couleurs */
    --main-color: #0065FC;
    --secondary-color: #DEEBFF;
    --grey-color: #D9D9D9;
}
body {
    margin: 0;
}
/* les fonts */
.card-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.title-section {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.information {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* Header */
header {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}
header nav ul li{
    list-style-type: none;
    flex-direction: row;
    padding-top: 46px;
    padding-bottom: 13px;
    padding-left: 21px;
    padding-right: 21px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0px;
    color: black;
}
header nav ul li:hover{
    border-top: solid var(--main-color) 2px;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}
header nav ul li:hover a {
    color: var(--main-color);
}