* {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* les couleurs */
    --main-color: #0065FC;
    --secondary-color: #DEEBFF;
    --grey-color: #D9D9D9;
    --secondary-grey-color: #F2F2F2;
}
body {
    margin: 0;
}
/* les fonts */
.card-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.card-info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 9px;
    margin-top: 9px;
}
.title-section {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.information {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.filter {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
}
.knowing-more {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: black;
}

/* Header */
header {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}
header nav ul li{
    list-style-type: none;
    flex-direction: row;
    padding-top: 46px;
    padding-bottom: 13px;
    padding-left: 21px;
    padding-right: 21px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0px;
    margin-bottom: 0;
    color: black;

    border-top: solid transparent 2px;
    border-bottom: solid transparent 2px;
}
header nav ul li:hover{
    border-top: solid var(--main-color) 2px;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}
header nav ul li:hover a {
    color: var(--main-color);
}

.logo-booki {
    margin-left: 55px;
    margin-top: 44px;
}

/* Main */
main {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: none;
}
/* section search */
.search {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.title-search {
    margin: 0;
}
.title-search * {
    margin-left: 5px;
    margin-bottom: 0;
}
.input-search *{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.input-search {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 20px;
}
.input-search button {
    text-align: center;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
    border: 1px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    height: 49px;
    transform: translateX(-50px);
    cursor: pointer;
}
.input-search button span.not-mobile {
    font-size: 18px;
    color: white;
    margin: 14px 16px 14px 16px;
    padding: 0;
}
.input-search button span.mobile {
    font-size: 18px;
    color: white;
    margin: 16px 16px 16px 16px;
    padding: 0;
}
.input-search input, .input-search input:focus{
    background-color: white;
    border: 1px solid var(--secondary-grey-color);
    outline: 1px solid var(--secondary-grey-color);
    border-radius: 15px;
    height: 49px;
    width: 334px;
    padding-left: 66px;
}
.input-search .before-input {
    background: var(--secondary-grey-color);
    height: 47px;
    width: 50px;
    border: 1px solid var(--secondary-grey-color);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translateX(47px);
    margin-left: -47px;
    font-size: 18px;
}
.input-search .before-input i {
    padding: 16px 18px 15px 18px;
}

/* filters */
.filters {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    margin-left: 12px;
    margin-top: 31px;
    flex-flow: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}
.filters ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
    margin-left: -45px;
}
.filters label {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-right: 32px;
}
.filters li {
    list-style-type: none;
    padding-top: 14.58px;
    padding-bottom: 14.58px;
    padding-left: 20px;
    padding-right: 20px;
    border: var(--grey-color) solid 2px;
    border-radius: 25px;
    margin-right: 14px;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 2px;
    cursor: pointer;
    flex-wrap: nowrap;
}
.filters li.filter i {
    color: var(--main-color);
    margin-right: 10px;
}
.filters li:hover {
    background-color: var(--secondary-color);
}

/* info résultats */
.info-result {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 36px;
    margin-left: 9px;
}
.info-result .icone-info {
    border: 1px solid var(--grey-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-content: center;
}
.info-result .icone-info i {
    color: var(--main-color);
    margin: auto;
    padding: 0;
    font-size: 10px;
}
.info-result .info-text {
    margin-left: 11px;
}

/* Contenu de la recherche */
/* accomodations */
.accommodations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: stretch;
    gap: 2.98507463%;
    margin-top: 39px;
}
.accommodations-City {
    width: 65.67164179%;
    background-color: var(--secondary-grey-color);
    border-radius: 20px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}
.content-accommodations-City {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 23px;
    width: 90.90909091%;
}
.content-accommodations-City h1 {
    margin: 0;
    align-self: flex-start;
    width: 100%;
}
.more-accommodations-City {
    margin-left: 44px;
    margin-bottom: 46px;
    margin-top: 40px;
    cursor: pointer;
    width: 100%;
}
.accommodations-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 31px;
}
/* Cartes d'hébergements */
.accommodation-card {
    margin: 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 199px;
    width: 246px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: flex-start;
    
    /* ombre */
    box-shadow: 3px 3px 15px 3px var(--grey-color);
}
.accommodation-card img {
    height: 114px;
    width: 95.93495935%;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    margin: 0;
}
.accommodation-card .card-info {
    margin: 0;
}
.accommodation-card .text-card .top {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 16px;
    gap: 9px;
}
.accommodation-card .text-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}
.accommodation-card .text-card .bottom {
    margin-left: 16px;
}
.accommodation-card .evaluation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.accommodation-card .evaluation i {
    font-size: 12px;
    margin-right: 2px;
    margin-top: 9px;
    padding: 0;
}
.evaluation i.like {
    color: var(--main-color);
}
.evaluation i.dislike {
    color: var(--secondary-grey-color);
}

.popular-accomodations {
    width: 31.34328358%;
    border-radius: 20px;
    background-color: var(--secondary-grey-color);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: stretch;
    justify-content: flex-start;
}
.content-popular {
    margin-top: 42px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90.90909091%;
}
.content-popular .popular-list .en-tete {
    margin: 0;
    align-self: flex-start;
    width: 100%;
    display: flex;
    align-content: space-between;
    align-items: baseline;
    justify-content: space-between;
}
.content-popular .en-tete * {
    margin: 0;
}
.content-popular .en-tete i {
    font-size: 15.75;
    color: var(--main-color);
}
.popular-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 31px;
}
/* Cartes populaire */
.popular-card {
    margin: 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 144px;
    width: 343px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: flex-start;
    
    /* ombre */
    box-shadow: 3px 3px 15px 3px var(--grey-color);
}
.popular-card h1 {
    margin: 0;
    align-self: flex-start;
    width: 100%;
}
.popular-card img {
    width: 137px;
    height: 134px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    margin: 0;
}
.popular-card .card-info {
    margin: 0;
}
.popular-card .text-card .top {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;
    margin-left: 16px;
    gap: 7px;
}
.popular-card .text-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}
.popular-card .text-card .bottom {
    margin-left: 16px;
}
.popular-card .evaluation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.popular-card .evaluation i {
    font-size: 12px;
    margin-right: 2px;
    padding: 0;
}

/* Activities */
.City-activities {
    margin: 0;
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: baseline;
}
.list-activities-City {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
    width: 100%;
    height: auto;

    margin-top: auto;
    margin-bottom: auto;
    align-items: space-around;
}
.City-activities h1 {
    margin: 0;
    width: 100%;
}
/* Cartes */

.card-activity {
    margin: 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 444.51px;
    width: 302px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    
    /* ombre */
    box-shadow: 3px 3px 15px 3px var(--grey-color);
}
.card-activity img {
    height: 389px;
    width: 302px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    margin: 0;
}
.card-activity .card-title {
    margin-left: 19px;
    margin-top: auto;
    margin-bottom: auto;
}